@model CollegeApp.Models.ImprovementIndicator.ImprovementIndicator

@{
    ViewBag.Title = "Details";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">تفاصيل الخطة</strong>
        </div>
        <div class="card-body">

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Subject.SubjectName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Subject.SubjectName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ImprovementIndicatorName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ImprovementIndicatorName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CompletionRequirements)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CompletionRequirements)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ResponsibleEntity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ResponsibleEntity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SupportingEntity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SupportingEntity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AchievementStandard)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AchievementStandard)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ImprovementIndicatorStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ImprovementIndicatorStatus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ImprovementIndicatorId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>





        </div>
    </div>
</div>
