@model CollegeApp.Models.Account.ResetPasswordModel

@{
    Layout = null;
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link href="/Content/MyStyle/css/font-face.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/Content/MyStyle/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/Content/MyStyle/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/Content/MyStyle/css/theme.css" rel="stylesheet" media="all">
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="/Content/MyStyle/images/icon/logo.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="/Account/ResetPassword" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label>كلمة المرور الجديدة</label>
                                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control au-input au-input--full", type = "password", name = "UserName", placeholder = "كلمة المرور الجديدة" } })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    @*<input class="au-input au-input--full" type="password" name="NewPassword" placeholder="New Password" id="NewPassword">*@
                                </div>
                                <div class="form-group">
                                    <label>تاكيد كلمة المرور</label>
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control au-input au-input--full", type = "password", name = "UserName", placeholder = "تاكيد كلمة المرور" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    @*<input class="au-input au-input--full" type="password" name="ConfirmPassword" placeholder="Confirm Password" id="ConfirmPassword">*@
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.ResetCode, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ResetCode, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
                                        @Html.ValidationMessageFor(model => model.ResetCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" onclick="">حفظ</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/Content/MyStyle/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/Content/MyStyle/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/Content/MyStyle/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/Content/MyStyle/vendor/slick/slick.min.js"></script>
    <script src="/Content/MyStyle/vendor/wow/wow.min.js"></script>
    <script src="/Content/MyStyle/vendor/animsition/animsition.min.js"></script>
    <script src="/Content/MyStyle/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/Content/MyStyle/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Content/MyStyle/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="/Content/MyStyle/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/Content/MyStyle/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/Content/MyStyle/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/Content/MyStyle/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="/Content/MyStyle/js/main.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>
<!-- end document-->

