@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "Grades";
}

<div class="col-md-12">
    <div class="card">
        @*<div class="card-header">
                <strong class="card-title">المستخدمون و الصلاحيات</strong>
            </div>*@
        <div class="card-body">
            <div style="text-align:center;">

                @using (Html.BeginForm("GradeUplaod", "Grades", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <label>قم باختيار نوع التدريب قبل تحميل الملف</label>

                        <select id="selected" name="selected">
                            @foreach (var item in ViewBag.getTrainingTypeList)
                            {
                                <option value="@item.ProgramTypeId">@item.ProgramTypeName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="file" id="dataFile" name="upload" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Upload" class="btn btn-default" />
                    </div>

                    if (Model != null)
                    {
                        <table border="1" width="100%" class="table table-bordered">
                            <thead>
                                <tr>


                                    <th>المعدل التراكمي</th>
                                    <th>التقدير</th>
                                    <th>حالة المتدرب</th>
                                    <th>اسم المدرب</th>
                                    <th>رقم المدرب</th>
                                    <th>س.معتمدة</th>
                                    <th>الرقم المرجعي</th>
                                    <th>اسم المقرر</th>
                                    <th>المقرر</th>
                                    <th>إسم الطالب</th>
                                    <th>رقم الطالب</th>
                                    <th>التخصص</th>
                                    <th>القسم</th>
                                    <th>المستوى التدريبي</th>
                                    <th>الكلية</th>
                                    <th>الفصل التدريبي</th>


                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    foreach (DataRow row in Model.Rows)
                                    {

                                        <tr>
                                            <td>@row[0]</td>
                                            <td>@row[1]</td>
                                            <td>@row[3]</td>
                                            <td>@row[5]</td>
                                            <td>@row[6]</td>
                                            <td>@row[8]</td>
                                            <td>@row[9]</td>
                                            <td>@row[10]</td>
                                            <td>@row[11]</td>
                                            <td>@row[12]</td>
                                            <td>@row[13]</td>
                                            <td>@row[14]</td>
                                            <td>@row[15]</td>
                                            <td>@row[16]</td>
                                            <td>@row[17]</td>
                                            <td>@row[18]</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    }

                }

            </div>
        </div>
    </div>
</div>

