@model IEnumerable<CollegeApp.Models.User>

@{
    ViewBag.Title = "Index";
}


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">المستخدمون و الصلاحيات</strong>
        </div>
        <div class="card-body">
           
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Role.RoleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserPassword)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserMobile)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserPassword)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserMobile)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                        </td>
                    </tr>
                }

            </table>
            </p>
        </div>
    </div>
</div>

