@model IEnumerable<CollegeApp.Models.plan.Initiative>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Standard.StandardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitiativeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionRequirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponsibleEntity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportingEntity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AchievementStandard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitiativeStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Standard.StandardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitiativeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionRequirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponsibleEntity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupportingEntity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AchievementStandard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitiativeStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InitiativeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InitiativeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InitiativeId })
        </td>
    </tr>
}

</table>
