<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>نظام الكلية</title>

    <!-- Fontfaces CSS-->
    <link href="/Content/MyStyle/css/font-face.css" rel="stylesheet" media="all">
    @*<link href="/Content/MyStyle/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="/Content/MyStyle/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">*@
    <link href="/Content/MyStyle/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/Content/MyStyle/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!--add Font awsome6-->

    <link href="~/Content/MyStyle/css/fontawosme6.css" rel="stylesheet" media="all" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">*@

    <!-- Vendor CSS-->
    <link href="/Content/MyStyle/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/Content/MyStyle/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Chart CSS-->
    @*<link href="~/Content/Chart.min.css" rel="stylesheet" />*@

    <!-- Main CSS-->
    <link href="/Content/MyStyle/css/theme.css" rel="stylesheet" media="all">

    <!-- DATATABLE -->
    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />

    <!-- Mystyle -->
    <link href="~/Content/Site.css" rel="stylesheet" />


    @RenderSection("CssScript", required: false)
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="~/Content/MyStyle/images/icon/ACT_LOGO.png" alt="CoolAdmin" id="logo"/>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                            @*<li>
            <a href="/Languages/index"><i class="fa fa-user"></i>@CollegeApp.Resource.Resource.Language</a>
        </li>*@
                            <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                <a href="/Users/index"><i class="fa fa-user"></i>@CollegeApp.Resource.Resource.Users</a>
                            </li>
                            <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                <a href="/Roles/index"><i class="fa fa-users"></i>الصلاحيات</a>
                            </li>
                            <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                <a href="/Courses/index"><i class="fa fa-book"></i>المقررات التدريبية</a>
                            </li>
                            <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                <a href="/PlansStudies/Index"><i class="fa fa-map"></i>الخطة التدريبية</a>
                            </li>
                            <li class="has-sub" style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-copy"></i>ادارة تحليل الدرجات
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                        <a href="/Grades/GradeUplaod"><i class="fa fa-upload"></i>تحميل الدرجات</a>
                                    </li>
                                </ul>
                            </li>
                            <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(13)==true?"block":"none")">
                                <a href="/Grades/Index"><i class="fa fa-line-chart"></i>تحليل الدرجات الفصلية</a>
                            </li>

                            <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                <a href="/Courses/Courses"><i class="fa fa-book"></i>المقررات</a>
                            </li>


                            <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(13)==true?"block":"none")">
                                <a href="/Users/UserCv"><i class="fas fa-calendar-alt"></i>السيرة الذاتية</a>

                            </li>
                            <li class="has-sub" style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-copy"></i>ادارة الارشاد التدريبي
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                        <a href="/TrainingGuides/UplaodData">
                                            <i class="fas fa-calendar-alt"></i>تحميل بيانات المرشدين
                                        </a>
                                    </li>
                                    <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                        <a href="/TrainingGuides/Index">
                                            <i class="fas fa-calendar-alt"></i>عرض بيانات جميع الارشاد التدريبي
                                        </a>
                                    </li>
                                    <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                        <a href="/RemainingCoursesTrainees/UplaodData">
                                            <i class="fas fa-calendar-alt"></i>تحميل المقررات المتبقية
                                        </a>
                                    </li>
                                    <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                        <a href="/RemainingCoursesTrainees/Index">
                                            <i class="fas fa-calendar-alt"></i>عرض المقررات المتبقية
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(13)==true?"block":"none")">
                                <a href="/TrainingGuides/TrainingGuideList">
                                    <i class="fas fa-calendar-alt"></i>عرض بيانات الارشاد التدريبي
                                </a>
                            </li>

                            <li class="has-sub" style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                <a class="js-arrow" href="#">
                                    <i class="fa-solid fa-file-user"></i>ادارة خطط التحسين
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                        <a href="/ImprovementIndicatorSubjects/Index">
                                            <i class="fas fa-calendar-alt"></i>اضافة موضوعات الخطة
                                        </a>
                                    </li>
                                    <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                        <a href="/InitiativeScopes/Index">
                                            <i class="fas fa-calendar-alt"></i>اضافة نطاق المبادرة في الخطة
                                        </a>
                                    </li>
                                    <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                        <a href="/Subjects/Index">
                                            <i class="fas fa-calendar-alt"></i>اضافة خطة
                                        </a>
                                    </li>
                                    @*<li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                        <a href="/ImprovementIndicators/MyIndex">
                                            <i class="fas fa-calendar-alt"></i>اضافة مبادرات لخطة التحسين
                                        </a>
                                    </li>*@
                                </ul>
                            </li>

                            <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(13)==true?"block":"none")">
                                <a href="/ImprovementIndicators/Index">
                                    <i class="fas fa-calendar-alt"></i> خطط التحسين الخاصة بي
                                </a>
                            </li>



                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"/Home/Index":"/Home/MyIndex")">
                    <img src="~/Content/MyStyle/images/icon/ACT_LOGO.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        @*<li>
                            <a href="/Languages/index"><i class="fa fa-user"></i>@CollegeApp.Resource.Resource.Language</a>
                        </li>*@
                        <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                            <a href="/Users/index"><i class="fa fa-user"></i>@CollegeApp.Resource.Resource.Users</a>
                        </li>
                        <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                            <a href="/Roles/index"><i class="fa fa-users"></i>الصلاحيات</a>
                        </li>
                        <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                            <a href="/Courses/index"><i class="fa fa-book"></i>المقررات التدريبية</a>
                        </li>
                        <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                            <a href="/PlansStudies/Index"><i class="fa fa-map"></i>الخطة التدريبية</a>
                        </li>
                        <li class="has-sub" style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>ادارة تحليل الدرجات
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                    <a href="/Grades/GradeUplaod"><i class="fa fa-upload"></i>تحميل الدرجات</a>
                                </li>
                            </ul>
                        </li>
                        <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(13)==true?"block":"none")">
                            <a href="/Grades/Index"><i class="fa fa-line-chart"></i>تحليل الدرجات الفصلية</a>
                        </li>
                       
                        <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                            <a href="/Courses/Courses"><i class="fa fa-book"></i>المقررات</a>
                        </li>


                        <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(13)==true?"block":"none")">
                            <a href="/Users/UserCv"><i class="fa-sold fa-file-user"></i>السيرة الذاتية</a>

                        </li>
                        <li class="has-sub" style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>ادارة الارشاد التدريبي
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                    <a href="/TrainingGuides/UplaodData">
                                        <i class="fas fa-calendar-alt"></i>تحميل بيانات المرشدين
                                    </a>
                                </li>
                                <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                    <a href="/TrainingGuides/Index">
                                        <i class="fas fa-calendar-alt"></i>عرض بيانات جميع الارشاد التدريبي
                                    </a>
                                </li>
                                <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                    <a href="/RemainingCoursesTrainees/UplaodData">
                                        <i class="fas fa-calendar-alt"></i>تحميل المقررات المتبقية
                                    </a>
                                </li>
                                <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                    <a href="/RemainingCoursesTrainees/Index">
                                        <i class="fas fa-calendar-alt"></i>عرض المقررات المتبقية
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(13)==true?"block":"none")">
                            <a href="/TrainingGuides/TrainingGuideList">
                                <i class="fas fa-calendar-alt"></i>عرض بيانات الارشاد التدريبي
                            </a>
                        </li>

                        <li class="has-sub" style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>ادارة خطط التحسين
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                    <a href="/ImprovementIndicatorSubjects/Index">
                                        <i class="fas fa-calendar-alt"></i>اضافة موضوعات الخطة
                                    </a>
                                </li>
                                <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                    <a href="/InitiativeScopes/Index">
                                        <i class="fas fa-calendar-alt"></i>اضافة نطاق المبادرة في الخطة
                                    </a>
                                </li>
                                <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                    <a href="/Subjects/Index">
                                        <i class="fas fa-calendar-alt"></i>اضافة خطة
                                    </a>
                                </li>
                                @*<li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(1)==true?"block":"none")">
                                    <a href="/ImprovementIndicators/MyIndex">
                                        <i class="fas fa-calendar-alt"></i>اضافة مبادرات لخطة التحسين
                                    </a>
                                </li>*@
                            </ul>
                        </li>

                        <li style="display:@(((CollegeApp.Models.ViewModel)Session["ViewPermission"]).ViewIds.Contains(13)==true?"block":"none")">
                            <a href="/ImprovementIndicators/MyIndex">
                                <i class="fas fa-calendar-alt"></i> خطط التحسين الخاصة بي
                            </a>
                        </li>
                       
                       
                        
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div></div>
                            <div class="header-button">
                                <div></div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="@Url.Content(Session["UserImage"].ToString())" alt="None" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">
                                                @if (Session["UserName"] != null)
                                                {
                                                    <span> @Session["UserName"].ToString()</span>
                                                }
                                            </a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">

                                                        <img src="@Url.Content(Session["UserImage"].ToString())" alt="لا توجد صوره" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">
                                                            @if (Session["UserName"] != null)
                                                            {
                                                <span> @Session["UserName"].ToString()</span>}
                                                        </a>
                                                    </h5>
                                                    @if (Session["UserEmail"] != null)
                                                    {
                                        <span class="email">@Session["UserEmail"].ToString()</span>}

                                                    <span class="email"></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/Users/ChangeYourPassword">
                                                        <i class="zmdi zmdi-account"></i>تغيير كلمة المرور
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/Account/Logout">
                                                    <i class="zmdi zmdi-power"></i>خروج
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/Content/MyStyle/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/Content/MyStyle/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/Content/MyStyle/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/Content/MyStyle/vendor/slick/slick.min.js"></script>
    <script src="/Content/MyStyle/vendor/wow/wow.min.js"></script>
    <script src="/Content/MyStyle/vendor/animsition/animsition.min.js"></script>
    <script src="/Content/MyStyle/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/Content/MyStyle/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Content/MyStyle/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="/Content/MyStyle/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/Content/MyStyle/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/Content/MyStyle/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/Content/MyStyle/vendor/select2/select2.min.js"></script>

    <!-- Sweetalert JS       -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Chart JS-->
    @*<script src="~/Scripts/Chart.min.js"></script>*@

    <!-- Main JS-->
    <script src="/Content/MyStyle/js/main.js"></script>

    <!-- DATATABLE -->
    <script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTable/myScript.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();

        });
        function GoToScroll(Id) {
            Id = Id.replace("link", "")
            $("html,body").animate({ scrollTop: $("#" + Id).offset().top }, "slow");
        }
    </script>
</body>

</html>

