@model CollegeApp.Models.Cvs.Qualification

@{
    ViewBag.Title = "Details";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">المؤهلات</strong>
        </div>
        <div class="card-body">
            <h2>Details</h2>

            <div>
                <h4>Qualification</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.User.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.User.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Degree)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Degree)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.institute)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.institute)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.year)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.year)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.major)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.major)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.QualificationId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>
    </div>
</div>
