@model CollegeApp.Models.TrainingGuide.TrainingGuide

@{
    ViewBag.Title = "Edit";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">اسماء المتدربين (الارشاد التدريبي)</strong>
        </div>
        <div class="card-body">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.TrainingGuideId)

                <div class="form-group">
                    @Html.LabelFor(model => model.TermId, "الفصل التدريبي", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TermId", null, htmlAttributes: new { @class = "form-control", @disabled = false })
                        @Html.ValidationMessageFor(model => model.TermId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MajorId, "اسم التخصص", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MajorId", null, htmlAttributes: new { @class = "form-control", @disabled = false })
                        @Html.ValidationMessageFor(model => model.MajorId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserId, "اسم المرشد", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control", @disabled = false })
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TraineeName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TraineeName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.TraineeName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TraineeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TraineeNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.TraineeNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramTypeId, "نوع التدريب", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ProgramTypeId", null, htmlAttributes: new { @class = "form-control", @disabled = false })
                        @Html.ValidationMessageFor(model => model.ProgramTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm">
                        @Html.EditorFor(model => model.RegistrationOfCoursesAccordingToTheTrainingPlan)
                        @Html.ValidationMessageFor(model => model.RegistrationOfCoursesAccordingToTheTrainingPlan, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.RegistrationOfCoursesAccordingToTheTrainingPlan)

                    </div>
                    <div class="col-sm">
                        @Html.EditorFor(model => model.TrainingLevel)
                        @Html.ValidationMessageFor(model => model.TrainingLevel, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.TrainingLevel)

                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            @Html.EditorFor(model => model.ExplanationOfTheTrainingPlan)
                            @Html.ValidationMessageFor(model => model.ExplanationOfTheTrainingPlan, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.ExplanationOfTheTrainingPlan)

                        </div>
                    </div>
                    <div class="col-sm">
                        @Html.EditorFor(model => model.TrainingAverageLevel)
                        @Html.ValidationMessageFor(model => model.TrainingAverageLevel, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.TrainingAverageLevel)

                    </div>
                </div>
               

               

               

               

                <div class="form-group">
                    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Notes, 5, 0, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="تحديث" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("الرجوع", "TrainingGuideList", "TrainingGuides")
            </div>



        </div>
    </div>
</div>
