@model IEnumerable<CollegeApp.Models.TrainingGuide.TrainingGuide>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Major.MajorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term.TermName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraineeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraineeNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Major.MajorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term.TermName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TrainingGuideId }) @*|
                @Html.ActionLink("Details", "Details", new { id = item.TrainingGuideId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TrainingGuideId })*@
            </td>
        </tr>
    }

</table>
