@model CollegeApp.Models.Account.ViewModel.UserModel

@{
    ViewBag.Title = "UserUpdate";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">البيانات الشخصية</strong>

            @*<a href="/Users/UserUpadete" class="btn btn-success btn-sm" style="float:left">تعديل او اضافة</a>*@
        </div>
        <div class="card-body">

            @using (Html.BeginForm("UserUpdate", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @ViewBag.ErrorMsg
            <div class="form-horizontal">

                <div class="form-group">
                    <strong>
                        @Html.LabelFor(model => model.UserMobile, htmlAttributes: new { @class = "control-label col-md-2" })
                    </strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserMobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserMobile, "", new { @class = "text-danger" })
                    </div>
                </div>









                <div class="form-group">
                    <strong>
                        @Html.LabelFor(model => model.ExperienceYears, htmlAttributes: new { @class = "control-label col-md-2" })
                    </strong>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ExperienceYears, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ExperienceYears, "", new { @class = "text-danger" })
                        </div>
                </div>

                @*<div class="form-group">
            @Html.LabelFor(model => model.EngilshLevel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EngilshLevel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EngilshLevel, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                <strong>
                    @Html.LabelFor(model => model.EngilshLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                </strong>
                    <div class="col-md-10">
                        @Html.DropDownList("EngilshLevel", new List<SelectListItem>
                        {
                        new SelectListItem{ Text="ممتاز", Value = "ممتاز" },
                        new SelectListItem{ Text="جيدجدا", Value = "جيدجدا" },
                        new SelectListItem{ Text="جيد", Value = "جيد" },
                        new SelectListItem{ Text="مقبول", Value = "مقبول" },
                        new SelectListItem{ Text="ضعيف", Value = "ضعيف" }

                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EngilshLevel, "", new { @class = "text-danger" })
                    </div>
            </div>



            <div class="form-group">
                <strong>
                    @Html.LabelFor(model => model.Addressline1, htmlAttributes: new { @class = "control-label col-md-2" })
                </strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Addressline1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Addressline1, "", new { @class = "text-danger" })
                    </div>
            </div>

            <div class="form-group">
                <strong>
                    @Html.LabelFor(model => model.Addressline2, htmlAttributes: new { @class = "control-label col-md-2" })
                </strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Addressline2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Addressline2, "", new { @class = "text-danger" })
                    </div>
            </div>

            <div class="form-group">
                <strong>
                    @Html.LabelFor(model => model.Addressline3, htmlAttributes: new { @class = "control-label col-md-2" })
                </strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Addressline3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Addressline3, "", new { @class = "text-danger" })
                    </div>
            </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>
                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-4" })
                            </strong>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })

                                </div>
                        </div>
                        <div class="col">
                            <img src="@Url.Content(Session["UserImage"].ToString())" alt="None" class="img-thumbnail rounded" id="uploadImage" width="300" height="200"/>
                        </div>
                    </div>
                   
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="تحديث" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("الرجوع", "usercv")
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("#Image").change(function (event) {
                var x = URL.createObjectURL(event.target.files[0]);
                $("#uploadImage").attr("src",x);
            })
        })
    </script>
    }